:root {
  /*Color vars*/
  --clr-brand: #b20937;
  --clr-black: #000000;
  --clr-white: #fff2f5;

  --clr-brand-100: #ffdae3;
  --clr-brand-200: #f1b5c5;
  --clr-brand-300: #e5678a;
  --clr-brand-400: #d92b5b;

  --clr-brand-600: #8d0c2f;
  --clr-brand-700: #730624;
  --clr-brand-800: #58041a;
  --clr-brand-900: #1a0007;

  /*Font family vars*/
  --ff-base: 'Poppins';
  --ff-secondary: 'Inter';

  /**/
  --clr-bg: var(--clr-brand-200);
}

/*-----Css reset-----*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

html {
  height: 100%;
  font-family: var(--ff-base);
  font-size: 16px;
}

body {
  height: 100%;
  font-size: 14px;
  overflow: hidden;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
