@use '_base';

/*body default*/

body {
  color: var(--clr-white);
  background: var(--clr-brand-100);
  font-family: var(--ff-base);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
