@use '_base';

/*body default*/

body {
  color: var(--color-text);
  background: var(--clr-bg);
  font-family: var(--ff-base);
  font-size: 15px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
